<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title> Pear Admin - MACCMS </title>
		<!-- 依 赖 样 式 -->
		<link rel="stylesheet" href="__STATIC__/component/pear/css/pear.css" />
		<!-- 加 载 样 式 -->
		<link rel="stylesheet" href="__STATIC__/css/loader.css" />
		<!-- 布 局 样 式 -->
		<link rel="stylesheet" href="__STATIC__/css/admin.css" />
	</head>
	<!-- 结 构 代 码 -->
	<body class="layui-layout-body pear-admin">
		<!-- 布 局 框 架 -->
		<div class="layui-layout layui-layout-admin">
			<!-- 顶 部 样 式 -->
			<div class="layui-header">
				<!-- 菜 单 顶 部 -->
				<div class="layui-logo">
					<!-- 图 标 -->
					<img class="logo"></img>
					<!-- 标 题 -->
					<span class="title"></span>
				</div>
				<!-- 顶 部 左 侧 功 能 -->
				<ul class="layui-nav layui-layout-left">
					<li class="collaspe layui-nav-item"><a href="#" class="layui-icon layui-icon-shrink-right"></a></li>
					<li class="refresh layui-nav-item"><a href="#" class="layui-icon layui-icon-refresh-1" loading = 600></a></li>
				</ul>
				<!-- 多 系 统 菜 单 -->
				<div id="control" class="layui-layout-control"></div>
				<!-- 顶 部 右 侧 菜 单 -->
				<ul class="layui-nav layui-layout-right">
					<li class="layui-nav-item layui-hide-xs"><a href="#" class="fullScreen layui-icon layui-icon-screen-full"></a></li>
					<li class="layui-nav-item layui-hide-xs"><a href="http://www.pearadmin.com" class="layui-icon layui-icon-website"></a></li>
					<li class="layui-nav-item layui-hide-xs"><a href="https://github.com/magicblack/maccms10" class="layui-icon layui-icon-website"></a></li>
					<li class="layui-nav-item user">
						<!-- 头 像 -->
						<a class="layui-icon layui-icon-username" href="javascript:;"></a>
						<!-- 功 能 菜 单 -->
						<dl class="layui-nav-child">
						    <dd><a href="javascript:void(0);" id="lockScreen">{:lang('admin/index/index/menu_lock')}</a></dd>
						    <dd><a href="{:url('index/clear')}" class="j-ajax" refresh="yes">{:lang('admin/index/index/menu_cache_clear')}</a></dd>
						    <dd class="logout"><a href="{:url('index/logout')}">{:lang('admin/index/index/menu_logout')}</a></dd>
						</dl>
					</li>
					<!-- 主 题 配 置 -->
					<li class="layui-nav-item setting"><a href="#" class="layui-icon layui-icon-more-vertical"></a></li>
				</ul>
			</div>
			<!-- 侧 边 区 域 -->
			<div class="layui-side layui-bg-black">
				<!-- 菜 单 顶 部 -->
				<div class="layui-logo">
					<!-- 图 标 -->
					<img class="logo"></img>
					<!-- 标 题 -->
					<span class="title"></span>
				</div>
				<!-- 菜 单 内 容 -->
				<div class="layui-side-scroll">
					<div id="sideMenu"></div>
				</div>
			</div>
			<!-- 视 图 页 面 -->
			<div class="layui-body">
				<!-- 内 容 页 面 -->
				<div id="content"></div>
			</div>
			<!-- 遮 盖 层 -->
			<div class="pear-cover"></div>
			<!-- 加 载 动 画 -->
			<div class="loader-main">
				<!-- 动 画 对 象 -->
				<div class="loader"></div>
			</div>
		</div>
		<!-- 移 动 端 便 捷 操 作 -->
		<div class="pear-collasped-pe collaspe">
			<a href="#" class="layui-icon layui-icon-shrink-right"></a>
		</div>
		<!-- 依 赖 脚 本 -->
		{include file="../../../application/admin/view/public/foot" /}
		<!-- 框 架 初 始 化 -->
		<script>
			layui.use(['admin','jquery','popup'], function() {
				var $ = layui.jquery;
				var admin = layui.admin;
				var popup = layui.popup,
				layer = layui.layer;
				
				admin.setConfigType("json");
				admin.setConfigPath("./pearconfig");
				
				admin.render();
				
				// 登出逻辑 
				admin.logout(function(){
					popup.success("注销成功",function(){
						location.href = "{:url('index/logout')}";
					})
					// 注销逻辑 返回 true / false
					return true;
				});
			});
    $(function(){
        setInterval("checkCache()", 30*1000);
    });
    //检查缓存并保持登录状态
    function checkCache(){
        $.ajax({
            url: "{:url('checkcache')}",
            cache: false,
            success: function(r){
                if(r=='haved'){
                    layer.msg('{:lang("admin/index/cache_data")}', {time: 3000});
                }
            }
        });
    }
		</script>
	</body>
</html>
