<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{$title} - {:lang('admin/public/head/title')}</title>
    <link rel="stylesheet" href="__STATIC__/css/admin_style.css?{$MAC_VERSION}">
    <link rel="stylesheet" href="/static/component/pear/css/pear.css" />
	<!-- 加 载 样 式 -->
	<link rel="stylesheet" href="/static/css/loader.css" />
	<!-- 布 局 样 式 -->
	<link rel="stylesheet" href="/static/css/admin.css" />
    <script>
        var ROOT_PATH="__ROOT__",ADMIN_PATH="{$_SERVER['SCRIPT_NAME']}", MAC_VERSION="v10";
    </script>
</head>
<body>