<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{$title} - 苹果CMS内容管理系统</title>
    <link rel="stylesheet" href="__STATIC__/layui/css/layui.css?v=1020">
    <link rel="stylesheet" href="__STATIC__/css/admin_style.css?v=1020">
    <script type="text/javascript" src="__STATIC__/js/jquery.js?v=1020"></script>
    <script type="text/javascript" src="__STATIC__/layui/layui.js?v=1020"></script>
    <script>
        var ROOT_PATH="__ROOT__",ADMIN_PATH="{$_SERVER['SCRIPT_NAME']}", MAC_VERSION='v10';
    </script>
</head>
<body>