body{text-align:center;}
.header{position:fixed;left:0;top:0;width:80%;height:60px;line-height:60px;background:#000;padding:0 10%;z-index:10000;}
.header h1{color:#fff;font-size:20px;font-weight:600;text-align:center;}
.install-box{margin:100px auto 0;background:#fff;border-radius:10px;padding:20px;box-shadow: 5px 5px 15px #888888;display:inline-block;width:680px;min-height:500px;}
.protocol{text-align:left;height:400px;overflow-y:auto;padding:10px;color:#333;}
.protocol h2{text-align:center;font-size:16px;color:#000;}
.step-btns{padding:20px 0 10px 0;}
.copyright{padding:25px 0;}
.copyright,.copyright a{color:#ccc;}