<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>网站维护中......</title>
    <link rel="stylesheet" href="__STATIC__/css/home.css">
    <style>
        body{background:#F9FAFD;color:#818181;}
    </style>
    <link rel="stylesheet" href="../../../../static/css/home.css">
</head>
<body>
<div class="mac_msg_jump">
    <div class="msg_jump_tit">非常抱歉，网站正在维护中...</div>
    <div class="title">亲爱的站长们：</div>
    <div class="text">
        为了能让您访问更快更稳定，同时为您提供更高品质的服务，我们正在维护系统。因此目前网站的部分功能不能使用，请稍后再回来。给您造成了不便，请谅解。
    </div>
    <div class="jump">
        页面自动 <a id="href" href="<?php echo($url);?>">跳转</a> 等待时间： <b id="wait"><?php echo($wait);?></b>
    </div>
</div>
<script type="text/javascript">
    (function(){
        var wait = document.getElementById('wait'),
                href = document.getElementById('href').href;
        var interval = setInterval(function(){
            var time = --wait.innerHTML;
            if(time <= 0) {
                location.href = href;
                clearInterval(interval);
            };
        }, 1000);
    })();
</script>
</body>
</html>



